.hero {
  grid-template-columns: 1fr;
  inline-size: min(21.875rem, 95%);
  grid-template-areas: "heroImage" "heroText";
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 2.75rem;
  margin-inline: 2rem;
  grid-area: heroText;
}

.stats {
  grid-template-columns: 1fr;
}
.stats__cuantity {
  margin-block-start: 2rem;
}
